body {
	margin: 20px;
}
/*sticky footer code (given 16px top and 16px bottom margin with footer height */
#wrapper {
    min-height: calc(100vh - 80px);
} 
footer {
    height: 20px;   
} 
#foot {
    padding: 10px;
    padding-top: 15px;
    font-size: 14px;
    text-align: center;
}
/* stop navbar G.A.N. from changing colors and looking like a link */
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    background-color: transparent;
    color: #FFFFFF;
}
/* For logo in the navbar brand; not being used currently
.navbar-brand {
  padding: 0px; 
}
.navbar-brand>img {
  max-height: 100%;
  padding: 15px; 
  width: auto;
} */

/* This makes the image responsize--adjusts it for screensize */
img{
    max-width: 100%;
    height: auto;
}
/* make google calendar responsive */
.calendar-container {
	position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
}
.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.info {
	text-decoration: underline;
	font-style: italic;
}
.error {
    color: red;
    font-style: italic;
}
.btn-space {
	margin: 10px;
}
.btn-lead {
    background-color: #7581E8;
    color: #FFFFFF;
}
.btn-lead:hover {
    background-color: #8EB7FF;
}
.modal-pad{
	padding: 20px 20px;
}
.login {
    background-color: #7581E8;
    font-style: italic;
    font-size: 18px; 
    cursor: pointer;
}
.login:hover {
    color: #FFFFFF;
}
