<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resources</title>
    <meta charset="utf-8">
    <!--make it responsive on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
      <!--import AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="../js/resources.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--bootswatch flatly-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/ganStyles.css">
  </head>

	<body ng-app="resourceApp" ng-cloak ng-controller="resourceCtrl">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <span class="navbar-brand">G.A.N.</span>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav">
		        <li><a href="http://gan.richardsonprogramming.com">Home</a></li>
		        <li><a href="events.html">Events</a></li>
		        <li><a href="local.html">Local Groups</a></li>
		        <li class="active"><a href="#">Resources <span class="sr-only">(current)</span></a></li>
		        <li><a href="contact.html">Contact Reps</a></li>
		        <li><a href="http://gan.boards.net/" target="_blank" rel="noopener">Forum</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<header>
			<h1 class="text-center">Resources</h1>
		</header>

		<p>Leaders Login <span ng-click="hideLogin = false"><u>here</u></span></p>
    <section ng-hide="hideLogin">
      <form class="panel panel-default" name="loginForm" novalidate>
        <header class="panel-heading">
          <h3>Leader Login: <button ng-click="hideLogin = true" class="btn-md pull-right">&times;</button></h3>
        </header>
        <div class="panel-body">
          <div class="form-group">
          <label for="user">Username: </label>
          <input type="text" class="form-control" name="username" ng-model="loginInfo.username" required>
          </div>
          <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" class="form-control" name="password" ng-model="loginInfo.password" required>
          </div>
          <button class="btn btn-default" ng-disabled="loginForm.$invalid" ng-click="loginSubmit()">Login</button>
          <span class="error" ng-show="showFailedLogin">Incorrect Username or Password</span>
        </div>
      </form>
    </section>

    <section class="container" ng-show="isValidLogin">
  <button class="btn btn-default btn-space btn-md" id="addBtn" data-toggle="modal" data-target="#addModal">Add Resource</button>

  <!-- Modal -->
  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-pad">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>Add Resource</h3>
          <span><em>All Fields Required</em></span>
        </div>
        <div class="modal-body modal-pad">
          <form role="form" name="addForm" novalidate>
            <div class="form-group">
              <label for="name">Name of Resource: </label>
              <input type="text" class="form-control" id="name" ng-model="addResInfo.name" placeholder="e.g., Planned Parenthood" required>
            </div>
            <div class="form-group">
              <label for="link">Link to this resource: </label>
              <input type="text" class="form-control" id="link" ng-model="addResInfo.link" placeholder="Copy paste link to their website or fb page" required>
            </div>
            <div class="form-group">
              <label for="about">About this resource: </label>
              <input type="text" class="form-control" id="about" ng-model="addResInfo.about" placeholder="Summarize what they do; e.g. mission statement" required>
            </div>
            <div class="form-group">
				    	<label for="main">Select Main Issue this resource is concerned with: </label>
				    	<select name="main" ng-model="addResInfo.mainIssue" required>
				    		<option value="">Required: Select One</option>
				    		<option ng-repeat="type in resTypes" value="{{type.name}}">{{type.name}}</option>
				    	</select>
				    </div>
            <label>Select Other Issues (up to 5, please) this resource is concerned with: </label>
            <label class="checkbox-inline" ng-repeat="issue in resTypes">
				      <input type="checkbox" name="selectedIssues[]" ng-model="issue.selected" value="{{issue.name}}">{{issue.name}}
				    </label>

          </form>
        </div>
        <div class="modal-footer">
        <button class="btn btn-success btn-block" ng-disabled="addForm.$invalid" ng-click="addResource()">Add Resource</button>
        </div>
      </div>
      
    </div>
  </div>     	
    </section>

    <!--buttons for each issue/type of resource and toggles show/hide for issue/type sections below-->
    <p class="text-center">Click buttons below to show or hide resources for each issue.</p>
    <div class="btn-group" ng-repeat="type in resTypes">
    	<button ng-click="toggleBtn(type.show)" class="btn btn-primary btn-space">{{type.name}}</button>	
    </div>

    <!--divs for listing groups by their main issue/type of resource, hidden by default-->
    <section ng-repeat="type in resTypes" ng-show={{type.show}}>
    	<header>
    		<h2 class="text-center">{{type.name}}</h2>
    	</header>
    	<div ng-repeat="each in resources | resFilter:type.name | orderBy: 'name'">
    		<header><h3><a ng-href="{{each.link}}">{{each.name}}</a></h3></header>
    			<p><span class="info">About</span>: {{each.about}}</p>
    			<p><span class="info">Focus</span>: {{each.mainIssue}}</p>
    			<p><span class="info">Other Concerns</span>: {{each.otherIssues}}</p>
    	</div> 	
    </section>


	</body>
</html>